<h2>Create an Account</h2>

<% if @user.errors.full_messages.any? %>
<strong>Please correct the following errors:</strong>
<ul>
  <% @user.errors.full_messages.each do |error| %>
  <li><%=error%></li>
  <% end %>
</ul>
<% end %>
<!-- Use form partial -->

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= f.submit 'Sign Up' %>

<% end %>
