<!DOCTYPE html>
<html>
  <head>
    <title>My Tesla Fan Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">

  </head>

  <body>
    <h1>My Tesla Fan Site</h1>
    <nav>
      <hr>
      <%= link_to 'All Cars', cars_path %>
      |
      <%= link_to 'Create Car', new_car_path %>
      <hr>
    </nav>
    <%= yield %>
    <footer>
      <hr>
      &copy; Tesla Fan Boy Productions Ltd
    </footer>
  </body>
</html>
